.content {
  margin-top: 150px;
}
header {
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
}
header.sticky {
  border-bottom: 0;
}
.img_slider {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.komp1 {
  max-width: 300px;
}
.text-komp {
  display: flex;
  font-size: 19px;
  flex-direction: column;
  padding: 0 20px;
}
.cennik {
  min-width: 195px;
  max-width: 300px;
  width: 100%;
  padding: 20px;
  border: 1px solid rgb(196, 196, 196);
  border-radius: 10px;
}
.price {
  font-size: 28px;
  text-align: right;
}
.narrow_name {
  display: none;
}
/* dodaj do koszyka przycik */

.shopButton {
  background-color: rgb(17, 158, 0);
  color: #fff;
  border: none;
  border-radius: 12px;
  height: 40px;
  width: 100%;
  transition: 0.2s;
  cursor: pointer;
}
.shopButton:hover {
  box-shadow: 2px 2px 24px #a2b3a0;
  transition: 0.2s;
}
.short_specification {
  font-size: 13px;
  letter-spacing: 1px;
  padding: 0 10px;
}
.short_specification p {
  padding-bottom: 7px;
}
.short_specification b {
  color: rgb(6, 115, 216);
}
.text {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.specyfikacja {
}
.sprzet, .jakisprzet {
  width: 50%;
}
.sprzet {
  font-weight: 500;
  font-size: 16px;
}

.panelPC {
  width: 100%;
  display: flex;
  align-items: flex-start;
  justify-content: center;
}
.product_mini_decription {
  width: 100%;
  padding: 30px 0;
}
.jasny {
  display: flex;
  font-size: 14px;
  color: rgb(26, 26, 26);
  font-weight: normal;
  border-top: 1px solid rgb(235, 235, 235);
}
.ciemny {
  display: flex;
  font-size: 14px;
  color: rgb(26, 26, 26);
  font-weight: normal;
  background-color: #bdbaba44;
  border-top: 1px solid rgb(235, 235, 235);
}
/* SPONSOR */
.logo-letyshops {
  width: 180px;
}
.sponsor {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 30px 0;
}
#sponsor-text {
  border-left: 1px solid black;
  border-right: 1px solid black;
}
.sponsor-main {
  color: #000;
  font-weight: 400;
  text-align: center;
}
.yellow-text {
  color: rgb(255, 251, 2);
  text-shadow: 0px 0px 6px rgb(0, 0, 0);
  font-weight: bold;
}
/* oPIS */
.description {
  border-left: 1px solid black;
  padding-left: 10px;
}
.text-desc h1, .specyfikacja h1, .opinie h1{
  padding: 10px;
}
/* PRODUCT IMG SLIDER */
.slider {
  margin-top: 10px;
  max-width: 500px;
  min-width: 200px;
  display: flex;
}

.splide__slide img {
  object-fit: cover;
  object-position: center;
  max-width: 100%;
  transition: 0.2s linear;
}
.splide__slide img:hover {
  transform: scale(1.02);
}

.splide__slide {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 2px solid rgba(216, 216, 216, 0.726);
  padding: 10px;
  border-radius: 5px;
}
.splide__list {
  display: flex;
}

@media screen and (max-width: 985px) {
  .container {
    margin: 0 30px;
  }
  .narrow_name {
    display: block;
    font-size: 22px;
    line-height: 28px;
    margin-bottom: 25px;
  }
  .wide_name {
    display: none;
  }
  .text {
    flex-direction: column-reverse;
    padding: 10px;
  }
  .panelPC {
    justify-content: space-between;
  }
  .komp1 {
    max-width: 500px;
  }
  .slider {
    max-width: 300px;
    min-width: none;
  }
  .cennik{
    margin-bottom: 10px;
  }
}
@media screen and (max-width: 905px) {
  .komp1 {
    max-width: 300px;
  }
}
@media screen and (max-width: 880px) {
  
  .content {
    margin-top: 115px;
  }
}
@media screen and (max-width: 705px) {
  
  .panelPC {
    flex-direction: column;
    align-items: center;
  }
  .text-komp {
    width: 100%;
  }
  .cennik {
    max-width: none;
    width: 100%;
   
  }
}
@media screen and (max-width: 540px) {
  .content {
    margin-top: 85px;
  }
  .text-komp{
    padding: 0;
  }
  .text-desc h1, .specyfikacja h1, .opinie h1{
    font-size:1.3rem;
  }
    
  }

@media screen and (max-width: 450px) {
  .container {
    margin: 0 15px;
  }
  .text{
    padding: 0;
  }
}

